<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/index.css">
  <title><%= htmlWebpackPlugin.options.title %></title> -->

</head>

<body>
  <div id="headerDiv">

  </div>
  <hr>
  <div id="bodyDiv">
    <input type="text" id="message-in" value="Default">
  </div>
  <hr>
  <div id="footerDiv">

  </div>
</body>

</html>
